.container{
    width: 900px;
    margin: 30px auto;
}
.image img{
    width: 300px;
    height: 400px;
    border-top-right-radius: 20px;
    -webkit-box-shadow: -21px 11px 0px 8px rgba(245,10,10,1);
    -moz-box-shadow: -21px 11px 0px 8px rgba(245,10,10,1);
    box-shadow: -21px 11px 0px 8px rgba(245,10,10,1);
    float: right;

}
i img{
    width: 20px;
    height: 20px;
}
ul{
    list-style: none;
}
li{
    margin-top: 10px;
}
button{
    -webkit-box-shadow: -1px 5px 9px -5px rgba(150,150,150,1);
-moz-box-shadow: -1px 5px 9px -5px rgba(150,150,150,1);
box-shadow: -1px 5px 9px -5px rgba(150,150,150,1);
}